.calc-container {
  float: left;
}

.button-container {
  width: 200px;
}


.input-column {
  float: left;
}

#myDiv {
  float: left;
  clear: both;
}

#indData {
  float: left;
  clear: both;
}

#id {
  display: inline;
}

.tabs span {
  margin: 5px 10px;
  background-color: #0f0;
  cursor: pointer;
}
.tabs span.on {
  background-color: #f00;
}

.tabs p {
  display: none;
  background-color: #00f;
}
.tabs p.on {
  display: block;
}
