.calc-container {
  float: left;
}

.button-container {
  width: 200px;
}


.input-column {
  float: left;
}

#myDiv {
  float: left;
  clear: both;
}

#indData {
  float: left;
  clear: both;
}

#id {
  display: inline;
}

.active {
  display:inline;
}

.inactive {
  display: none;
}
